<a href="https://colab.research.google.com/github/shubhangsrivastav/Machine-Learning-Projects/blob/main/housingprediction_2n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import files
uploaded= files.upload()

Saving melb_data.csv.zip to melb_data.csv (1).zip

In [ ]:
dataset=pd.read_csv('melb_data.csv.zip')

In [ ]:
dataset

              Suburb  ... Propertycount
0         Abbotsford  ...        4019.0
1         Abbotsford  ...        4019.0
2         Abbotsford  ...        4019.0
3         Abbotsford  ...        4019.0
4         Abbotsford  ...        4019.0
...              ...  ...           ...
13575  Wheelers Hill  ...        7392.0
13576   Williamstown  ...        6380.0
13577   Williamstown  ...        6380.0
13578   Williamstown  ...        6380.0
13579     Yarraville  ...        6543.0

[13580 rows x 21 columns]

In [ ]:
dataset.nunique()

Suburb             314
Address          13378
Rooms                9
Type                 3
Price             2204
Method               5
SellerG            268
Date                58
Distance           202
Postcode           198
Bedroom2            12
Bathroom             9
Car                 11
Landsize          1448
BuildingArea       602
YearBuilt          144
CouncilArea         33
Lattitude         6503
Longtitude        7063
Regionname           8
Propertycount      311
dtype: int64

In [ ]:
dataset.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

this shows that there are nan values which has to be removed or filled by mean values

also the data contains some string features that has to be encoded

In [ ]:
dataset.drop('Date',axis=1,inplace=True)

here droping 'date'feature because it is of no use in prediction

In [ ]:
dataset

              Suburb  ... Propertycount
0         Abbotsford  ...        4019.0
1         Abbotsford  ...        4019.0
2         Abbotsford  ...        4019.0
3         Abbotsford  ...        4019.0
4         Abbotsford  ...        4019.0
...              ...  ...           ...
13575  Wheelers Hill  ...        7392.0
13576   Williamstown  ...        6380.0
13577   Williamstown  ...        6380.0
13578   Williamstown  ...        6380.0
13579     Yarraville  ...        6543.0

[13580 rows x 20 columns]

In [ ]:
cols_to_fill_zero=['Car']
dataset[cols_to_fill_zero]=dataset[cols_to_fill_zero].fillna(0)

In [ ]:
dataset['BuildingArea']=dataset['BuildingArea'].fillna(dataset.BuildingArea.mean())
dataset['YearBuilt']=dataset['YearBuilt'].fillna(dataset.YearBuilt.mean())

In [ ]:
dataset.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
YearBuilt           0
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

now there is only one feature CouncilArea with nan values which has to be encoded first to be substituted by mean values at nan places

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder()

In [ ]:
dataset['le_CouncilArea']=le.fit_transform(dataset.CouncilArea)

In [ ]:
dataset.drop('CouncilArea',axis=1,inplace=True)

In [ ]:
dataset['le_CouncilArea']=dataset['le_CouncilArea'].fillna(dataset.le_CouncilArea.mean())

In [ ]:
dataset.isnull().sum()

Suburb            0
Address           0
Rooms             0
Type              0
Price             0
Method            0
SellerG           0
Distance          0
Postcode          0
Bedroom2          0
Bathroom          0
Car               0
Landsize          0
BuildingArea      0
YearBuilt         0
Lattitude         0
Longtitude        0
Regionname        0
Propertycount     0
le_CouncilArea    0
dtype: int64

*So now there is no nan value in dataset *

In [ ]:
dataset.head()

       Suburb           Address  ...  Propertycount le_CouncilArea
0  Abbotsford      85 Turner St  ...         4019.0             31
1  Abbotsford   25 Bloomburg St  ...         4019.0             31
2  Abbotsford      5 Charles St  ...         4019.0             31
3  Abbotsford  40 Federation La  ...         4019.0             31
4  Abbotsford       55a Park St  ...         4019.0             31

[5 rows x 20 columns]

Now  features Suburb	Address Type	Method	SellerG	Regionname has to be encoded

In [ ]:
dataset['le_ Suburb']=le.fit_transform(dataset. Suburb)
dataset['le_Address']=le.fit_transform(dataset.Address)
dataset['le_Type']=le.fit_transform(dataset.Type)
dataset['le_Method']=le.fit_transform(dataset.Method)
dataset['le_SellerG']=le.fit_transform(dataset.SellerG)
dataset['le_ Regionname']=le.fit_transform(dataset. Regionname)

In [ ]:
dataset.drop('Suburb',axis=1,inplace=True)

In [ ]:
dataset.drop('Address',axis=1,inplace=True)

In [ ]:
dataset.drop('Type',axis=1,inplace=True)

In [ ]:
dataset.drop('Method',axis=1,inplace=True)

In [ ]:
dataset.drop('SellerG',axis=1,inplace=True)

In [ ]:
dataset.drop('Regionname',axis=1,inplace=True)

In [ ]:
dataset

       Rooms      Price  Distance  ...  le_Method  le_SellerG  le_ Regionname
0          2  1480000.0       2.5  ...          1          23               2
1          2  1035000.0       2.5  ...          1          23               2
2          3  1465000.0       2.5  ...          3          23               2
3          3   850000.0       2.5  ...          0          23               2
4          4  1600000.0       2.5  ...          4         155               2
...      ...        ...       ...  ...        ...         ...             ...
13575      4  1245000.0      16.7  ...          1          16               4
13576      3  1031000.0       6.8  ...          3         251               6
13577      3  1170000.0       6.8  ...          1         194               6
13578      4  2500000.0       6.8  ...          0         222               6
13579      4  1285000.0       6.3  ...          3         239               6

[13580 rows x 20 columns]

**Now there is no nan and no non numerical values in our dataset**

Linear Regression

In [ ]:
x=dataset.drop('Price',axis=1)
y=dataset['Price']

In [ ]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.3,random_state=2)

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression().fit(train_x,train_y)

In [ ]:
lr.score(test_x,test_y)

-0.39403539133154375

In [ ]:
lr.score(train_x,train_y)

0.6036458059470757

In [ ]:
from sklearn import linear_model
lasso_reg=linear_model.Lasso(alpha=50,max_iter=500,tol=100)
lasso_reg.fit(train_x,train_y)

Lasso(alpha=50, max_iter=500, tol=100)

In [ ]:
lasso_reg.score(test_x,test_y)

-0.22667537553946193

In [ ]:
lasso_reg.score(train_x,train_y)

0.5119038490134727

In [ ]:
from sklearn.linear_model import Ridge
ridge_reg=Ridge(alpha=50,max_iter=10,tol=1000)
ridge_reg.fit(train_x,train_y)

Ridge(alpha=50, max_iter=10, tol=1000)

In [ ]:
ridge_reg.score(test_x,test_y)

-0.47866174363557223

In [ ]:
ridge_reg.score(train_x,train_y)

0.5971630480491121

**Conclusion**

Lasso Regression gives better accuracy than Simple Linear regression